* {
    font-family: serif, Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: rgb(16, 167, 162);
    padding-bottom: 0px;
    padding-top: 10px;
    
}

a{
    text-decoration: none;
    color:black
}

a:hover{
    color: rgb(61, 49, 49);
}

nav{
    display: flex;
    background-color: rgb(44, 85, 98);
    padding: 10px;
    justify-content: space-between;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
    list-style-type: none;
}

nav li {
    display: flex;
    margin-left: 30px;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    font-size: 48px;
    justify-self: flex-start;
    font-family: serif;   
}

h2 {
    display: inline-block;
    padding-left: 15px;
    font-size: 40px;
}

h1::after{
    color: rgb(207, 201, 201);
    content: attr(lastname);
    position: relative;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 5px;
    
}

.Head{
    display: grid;
    justify-content: center;
    color: white;
}

#skyline {
    height: 550px;
    width: 100%;
    margin-bottom: 25px;
    background-image: linear-gradient(rgba(87, 93, 92, 0.6),rgba(84, 90, 88, 0.8)), url("/Users/keyshawnbhagwandin/Desktop/Module2Challenge/assets/images/torontoSkyline.jpg");
    background-size: cover;
    background-position: center;
}

#subheader{
    display: flex;
    align-items: center;
    margin-top: 100px;
    position: relative;
    bottom: 70px;
}

#socials{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

div a{
    color: white;
    display: flex;
}

@media screen and (max-width: 950px) {
    nav {
      flex-direction: column;
      align-items: center;
    }
  }

@media  screen and (max-width: 298px) {
    #socials{
        flex-direction: column;
    }
}
  