/* Declared universal font*/
* {
    font-family: serif, Tahoma, Geneva, Verdana, sans-serif;
}

/* any variable used declared here*/
:root{
    --darkBlue: rgb(44, 85, 98);
    --marginBlue: rgb(16, 167, 162);
    --borderBlue: rgb(9, 110, 141);
}

/* Header begins here*/
    /* Navigation bar formatting*/
header{
    background-color: var(--marginBlue);
    padding-bottom: 0px;
    padding-top: 10px;
    
}

a{
    text-decoration: none;
    color:black
}

a:hover{
    color: rgb(61, 49, 49);
}

nav{
    display: flex;
    background-color: var(--darkBlue);
    padding: 10px;
    justify-content: space-between;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
    list-style-type: none;
}

nav li {
    display: flex;
    margin-left: 30px;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    font-size: 48px;
    justify-self: flex-start;
    font-family: serif;   
}

h1::after{
    color: rgb(207, 201, 201);
    content: attr(lastname);
    position: relative;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 5px;
    
}
    /* Skyline header with content within it starts here*/
h2 {
    display: flex;
    font-size: 40px;
}

.Head{ /* Grid layout for content on skyline */
    display: grid;
    justify-content: center;
    color: white;
}

#skyline { /* Background photo of skyline */
    height: 550px;
    width: 100%;
    background-image: linear-gradient(rgba(87, 93, 92, 0.6),rgba(84, 90, 88, 0.8)), url("/Users/keyshawnbhagwandin/Desktop/Module2Challenge/assets/images/torontoSkyline.jpg");
    background-size: cover;
    background-position: center;
}

#subheader{
    display: flex;
    align-items: center;
    margin-top: 100px;
    position: relative;
    bottom: 70px;
}

#socials{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#socials a{
    color: white;
    display: flex;
}

#socials a:hover{
    color: var(--marginBlue);
}
/* Main content starts here*/
main{
    background-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 30px;
    grid-template-areas:
    "about"
    "projects"
    "contacts";
}

.about-container{
    grid-area: about;
    padding: 1rem;
    border: 1px solid #dfdfdf;
    border-right: 0px;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 50px 0px 0px 50px ;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    
}

.projects-container{
    grid-area: projects;
    padding: 1rem;
    border: 1px solid #dfdfdf;
    border-left: 0px; /**/
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 0px 50px 50px 0px ; /**/
    margin-right: 20px; /**/
    display: flex;
    flex-direction: column;
}

.contact-container{
    grid-area: contacts;
    padding: 1rem;
    border: 1px solid #dfdfdf;
    border-right: 0px;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 50px 0px 0px 50px ;
    margin-left: 20px;
}

h3{
    font-size: 48px;
    padding: 10px;
    border-bottom: 1px solid var(--borderBlue);
    justify-content: space-around;
    color: var(--marginBlue);
}

.flipped{
    text-align: end;
}

.header-content{
    flex-direction: row;
    flex: 1;
    margin-left: 30px;
    margin-right: 30px;
}

    /* About section starts here */
.about-content{
    flex: 1;
    display: flex;
}

.about-content img{
    margin: 15px ;
    margin-top: 15px;
    display: flex;

}

.writing-section {
    margin-top: 30px;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--borderBlue);
    padding-right: 10px;
    border-right: 1px solid var(--borderBlue);
    padding-left: 10px;
    border-left: 1px solid var(--borderBlue);
}
.about-content p{
    align-self: center;
    order: 3;
}

    /* Project content starts here */
.projects-content{
    display: flex;
    flex-direction: row;
    margin: 30px;
    margin-right: 100px;
    position: relative;
}

.projects-pics{
    display: flex;
    flex-wrap: wrap;
    flex: 5;
}

.projects-info{
    display: block;
    flex-wrap: wrap;
    flex: 2;
    position: relative;
    top: 100px
}

span{
    font-weight: bold;
}

.projects-list{
    margin-top: 0px;
    padding-top: 10px;
    list-style-type: circle;
    padding-left: 50px;
}

.projects-list li{
    padding-top: 10px;
}

.first-child{
    display: flex;
    flex: 2;
    flex-basis: 100%;
    margin: 5px;
    position: relative;
    border-radius: 10px;
}

.first-child:hover{
    transition: all 0.5s ease-in-out;
    filter: opacity(70%);
}

.other-child{
    display: flex;
    flex: 1;
    flex-basis: 40%;
    margin: 5px;
    position: relative;
}

.other-child:hover{
    transition: all 0.5s ease-in-out;
    filter: opacity(70%);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--marginBlue);
    padding: 10px;
    border-radius: 10px;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: var(--marginBlue);
    border-radius: 5px;
}

    /* Contact content starts here */
.contact-content{
    display: flex;
    margin-top: 50px;
}

.content-info{
    display: block;
    flex: 1;
    justify-content: center;
    font-size: 26px;
    color: var(--borderBlue);
    margin-right: 30px;
    padding: 5px;
    border-right: 1px;
}

.content-socials{
    display: flex;
    flex: 2;
    justify-content: space-around;
    font-size: 20px;
}

.content-socials a:hover{
    color: var(--marginBlue);
}

footer{
    background-color: var(--darkBlue);
    width: 100%;
    height: 100px;
    border-bottom: 10px var(--marginBlue); 
}

@media screen and (max-width: 922px) {
    nav {
      flex-direction: column;
      align-items: center;
    }
    .other-child{
        flex-basis: 100%;
    }
    .content-socials{
        flex-direction: column;
        gap: 10px;
    }
  }

@media  screen and (max-width: 298px) {
    #socials{
        flex-direction: column;
    }
    .projects-content{
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media  screen and (max-width: 540px) {
    h1 {
        justify-content: center;
    }
    nav ul{
        justify-content: center;
    }
}
@media screen and (max-width: 1104px) {
    .about-content {
        flex-wrap: wrap;
        justify-content: center;
    }
}

  